/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* apply a natural box layout model to all elements. Thanks, Paul Irish*/
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: #000000 no-repeat url("../img/bg-main.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
footer {
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  font-size: 12px;
  text-align: left;
  margin-top: 15px;
  padding: 15px;
}
body {
  font-size: 16px;
  line-height: 28px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Gentium Basic', serif;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h3.subhead {
  text-align: center;
  margin: 15px 0;
}
h4,
h5,
h6 {
  font-size: 18px;
}
.main {
  margin: 0 auto;
  overflow: hidden;
  padding: 0 10px;
}
#header-top {
  width: 100%;
  height: 130px;
}
.logo-home {
  background: no-repeat url("../img/vwlogo.png");
  background-size: 573.2px 238.4px;
  width: 573.2px;
  height: 238.4px;
  margin: 25px 0 50px;
}
.logo {
  background: no-repeat url("../img/vwlogo.png");
  background-size: 200.62px 83.44px;
  width: 200.62px;
  height: 83.44px;
  margin: 10px 0 15px;
}
nav {
  margin: 15px 0;
}
nav ul li {
  display: inline-block;
  padding: 10px 24px;
  font-style: 'Gentium Basic', serif;
  font-size: 20px;
}
nav a {
  color: black;
}
.partisan p {
  color: #ffffff;
  font-family: Arial;
  font-size: 32px;
  line-height: 1.5em;
  text-align: left;
}
.partisan .non {
  margin: 10px 0 30px;
  text-align: center;
}
.partisan .free {
  display: inline-block;
  margin-top: 15px;
  color: yellow;
  font-family: sans-serif;
  font-size: 64px;
  font-weight: bold;
  text-shadow: 2px 2px #7f4e29;
  text-transform: uppercase;
  transform: rotate(-17deg);
  -ms-transform: rotate(-17deg);
  /* IE 9 */
  -webkit-transform: rotate(-17deg);
  /* Opera, Chrome, and Safari */
}
.boxcaption {
  background-color: #000000;
  border-top: 3px solid white;
  color: #ffffff;
  width: 230px;
  display: block;
  text-align: center;
  margin-top: -10px;
}
.login {
  font-family: Arial;
  font-size: 16px;
}
.txtLogin {
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
}
.nofieldset {
  background-color: rgba(0, 0, 0, 0);
}
.fsSignUp {
  text-align: center;
  margin-left: -50px;
}
#content {
  width: 100%;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
}
#topic-links ul li {
  display: inline-block;
  background: lightgray;
  width: 50px;
  height: 50px;
  border-right: 1px solid black;
}
#background {
  width: 23.404%;
  background: #fff;
  float: left;
  padding: 15px ;
  background-color: rgba(255, 255, 255, 0.4);
}
#question {
  width: 48.936%;
  float: left;
  margin: 0 20px;
  padding: 15px ;
  background-color: rgba(255, 255, 255, 0.4);
}
#progress {
  width: 23.404%;
  background-color: rgba(255, 255, 255, 0.4);
  float: left;
  margin: 0 ;
  padding: 15px ;
}
#progress ul li {
  margin-bottom: 20px;
}
span.prog-num {
  font-weight: bold;
  color: red;
}
