<nav>
	<div class="nav-link">
	<ul>
		<li><a href="#/home"><img class="portal" src="images/app/Expand-Tool.png"></a></li>
		<li><a href="#/"><img class="portal" src="images/app/Question.png"></a></li>
		<li><a href="#/"><img class="portal" src="images/app/EDUCATION.svg"></a></li>
		<li><a href="#/"><img class="portal" src="images/app/Chat.png"></a></li>
		<li><a href="#/"><img class="portal" src="images/app/Politician-Info.png"></a></li>
		<li><a href="#/"><img class="portal" src="images/app/Settings.png"></a></li>
	</ul>
	</div>
</nav>
<div>

<div>
<div class="flex-container-interests">
	<div class="flex-item-interests">
		<a href="#/civilLiberties"><img src="./images/app/CIVIL_LIBERTIES.svg"></br>Civil Liberties</a>
	</div>
	<div class="flex-item-interests">
		<a href="#/crimeAndPunishment"><img src="images/app/CRIME_AND_PUNISHMENT.svg"></br>Crime and<br>Punishment</a>
	</div>
	<div class="flex-item-interests">
		<a href="#/education"><img src="images/app/EDUCATION.svg"></br>Education</a>
	</div>
	<div class="flex-item-interests">
		<a href="#/energy"><img src="images/app/ENERGY.svg"></br>Energy</a>
	</div>
	<div class="flex-item-interests">
		<a href="#/environment"><img src="images/app/ENVIRONMENT.svg"></br>Environment</a>
	</div>
	<div class="flex-item-interests">
		<a href="#/gunControl"><img src="images/app/GUN-CONTROL.svg"></br>Gun Control</a>
	</div>
	<div class="flex-item-interests">
		<a href="#/healthSafety"><img src="images/app/HEALTH-SAFETY.svg"></br>Health/Safety</a>
	</div>
	<div class="flex-item-interests">
		<a href="#/immigration"><img src="images/app/IMMIGRATION.svg"></br>Immigration</a>
	</div>
	<div class="flex-item-interests">
		<a href="#/infrastructure"><img src="images/app/INFRASTRUCTURE.svg"></br>Infrastructure</a>
	</div>
	<div class="flex-item-interests">
		<a href="#/internationalRelations"><img src="images/app/INTERNATIONAL-REL.svg"></br>International</a>
	</div>
	<div class="flex-item-interests">
		<a href="#/jobsEconomy"><img src="images/app/JOBS-ECONOMY.svg"></br>Jobs/Economy</a>
	</div>
	<div class="flex-item-interests">
		<a href="#/qualityOfLife"><img src="images/app/QUALITY-OF-LIFE.svg"></br>Life Quality</a>
	</div>
	<div class="flex-item-interests">
		<a href="#/reproduction"><img src="images/app/REPRODUCTION.svg"></br>Reproduction</a>
	</div>
	<div class="flex-item-interests">
		<a href="#/taxes"><img src="images/app/TAXES.svg"></br>Taxes</a>
	</div>
	<div class="flex-item-interests">
		<a href="#/socialServices"><img src="images/app/Social-Services.svg"></br>Social Services</a>
	</div>
</div>
</div>

			
</div>
