<nav>
	<div class="nav-link">
	<ul>
		<li><a href="#/home"><img class="portal" src="img/Expand-Tool.png"></a></li>
		<li><a href="#/"><img class="portal" src="img/Question.png"></a></li>
		<li><a href="#/"><img class="portal" src="img/EDUCATION.svg"></a></li>
		<li><a href="#/"><img class="portal" src="img/Chat.png"></a></li>
		<li><a href="#/"><img class="portal" src="img/Politician-Info.png"></a></li>
		<li><a href="#/"><img class="portal" src="img/Settings.png"></a></li>
	</ul>
	</div>
</nav>
<div>

<div>
<div class="flex-container-interests">
	<div class="flex-item-interests">
		<a href="#/civilLiberties"><img src="img/CIVIL_LIBERTIES.svg"></br>Civil Liberties</a>
	</div>
	<div class="flex-item-interests">
		<a href="#/crimeAndPunishment"><img src="img/CRIME_AND_PUNISHMENT.svg"></br>Crime and<br>Punishment</a>
	</div>
	<div class="flex-item-interests">
		<a href="#/education"><img src="img/EDUCATION.svg"></br>Education</a>
	</div>
	<div class="flex-item-interests">
		<a href="#/energy"><img src="img/ENERGY.svg"></br>Energy</a>
	</div>
	<div class="flex-item-interests">
		<a href="#/environment"><img src="img/ENVIRONMENT.svg"></br>Environment</a>
	</div>
	<div class="flex-item-interests">
		<a href="#/gunControl"><img src="img/GUN-CONTROL.svg"></br>Gun Control</a>
	</div>
	<div class="flex-item-interests">
		<a href="#/healthSafety"><img src="img/HEALTH-SAFETY.svg"></br>Health/Safety</a>
	</div>
	<div class="flex-item-interests">
		<a href="#/immigration"><img src="img/IMMIGRATION.svg"></br>Immigration</a>
	</div>
	<div class="flex-item-interests">
		<a href="#/infrastructure"><img src="img/INFRASTRUCTURE.svg"></br>Infrastructure</a>
	</div>
	<div class="flex-item-interests">
		<a href="#/internationalRelations"><img src="img/INTERNATIONAL-REL.svg"></br>International</a>
	</div>
	<div class="flex-item-interests">
		<a href="#/jobsEconomy"><img src="img/JOBS-ECONOMY.svg"></br>Jobs/Economy</a>
	</div>
	<div class="flex-item-interests">
		<a href="#/qualityOfLife"><img src="img/QUALITY-OF-LIFE.svg"></br>Life Quality</a>
	</div>
	<div class="flex-item-interests">
		<a href="#/reproduction"><img src="img/REPRODUCTION.svg"></br>Reproduction</a>
	</div>
	<div class="flex-item-interests">
		<a href="#/taxes"><img src="img/TAXES.svg"></br>Taxes</a>
	</div>
	<div class="flex-item-interests">
		<a href="#/socialServices"><img src="img/Social-Services.svg"></br>Social Services</a>
	</div>
</div>
</div>

			
</div>
