<nav>
	<div class="nav-link">
	<ul>
		<li><a href="#/home"><img class="portal" src="images/app/Expand-Tool.png"></a></li>
		<li><a href="#/"><img class="portal" src="images/app/Question.png"></a></li>
		<li><a href="#/"><img class="portal" src="images/app/EDUCATION.svg"></a></li>
		<li><a href="#/"><img class="portal" src="images/app/Chat.png"></a></li>
		<li><a href="#/"><img class="portal" src="images/app/Politician-Info.png"></a></li>
		<li><a href="#/"><img class="portal" src="images/app/Settings.png"></a></li>
	</ul>
	</div>
</nav>
<div>

<div>
<div class="flex-container-interests">
	<div class="flex-item-interests">
		<a ng-click="goToPage('Civil Liberties')"><img src="./images/app/CIVIL_LIBERTIES.svg"></br>Civil Liberties</a>
	</div>
	<div class="flex-item-interests">
		<a ng-click="goToPage('Crime And Punishment')"><img src="images/app/CRIME_AND_PUNISHMENT.svg"></br>Crime and<br>Punishment</a>
	</div>
	<div class="flex-item-interests">
		<a ng-click="goToPage('Education')"><img src="images/app/EDUCATION.svg"></br>Education</a>
	</div>
	<div class="flex-item-interests">
		<a ng-click="goToPage('Energy')"><img src="images/app/ENERGY.svg"></br>Energy</a>
	</div>
	<div class="flex-item-interests">
		<a ng-click="goToPage('Environment')"><img src="images/app/ENVIRONMENT.svg"></br>Environment</a>
	</div>
	<div class="flex-item-interests">
		<a ng-click="goToPage('Gun Control')"><img src="images/app/GUN-CONTROL.svg"></br>Gun Control</a>
	</div>
	<div class="flex-item-interests">
		<a ng-click="goToPage('Health Safety')"><img src="images/app/HEALTH-SAFETY.svg"></br>Health/Safety</a>
	</div>
	<div class="flex-item-interests">
		<a ng-click="goToPage('Immigration')"><img src="images/app/IMMIGRATION.svg"></br>Immigration</a>
	</div>
	<div class="flex-item-interests">
		<a ng-click="goToPage('Infrastructure')"><img src="images/app/INFRASTRUCTURE.svg"></br>Infrastructure</a>
	</div>
	<div class="flex-item-interests">
		<a ng-click="goToPage('Foreign Policy')"><img src="images/app/INTERNATIONAL-REL.svg"></br>Foreign Policy</a>
	</div>
	<div class="flex-item-interests">
		<a ng-click="goToPage('Jobs And The Economy')"><img src="images/app/JOBS-ECONOMY.svg"></br>Jobs/Economy</a>
	</div>
	<div class="flex-item-interests">
		<a ng-click="goToPage('Quality Of Life')"><img src="images/app/QUALITY-OF-LIFE.svg"></br>Life Quality</a>
	</div>
	<div class="flex-item-interests">
		<a ng-click="goToPage('Reproduction')"><img src="images/app/REPRODUCTION.svg"></br>Reproduction</a>
	</div>
	<div class="flex-item-interests">
		<a ng-click="goToPage('Taxes')"><img src="images/app/TAXES.svg"></br>Taxes</a>
	</div>
	<div class="flex-item-interests">
		<a ng-click="goToPage('Social Services')"><img src="images/app/Social-Services.svg"></br>Social Services</a>
	</div>
</div>
</div>

			
</div>
