<body style="background-color:  #c4e2fa" >
    <header class="loginRegisterHeader"> 
      <img class="loginRegisterLogo" src="images/votewiselogo.png">
    </header>
   
    <div class="bootstrap-iso">
    <div class="container-fluid">
    <div class="row">
     <div class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10" style="text-align:center; background-color:white; padding: 20px; border-radius: 6px;">
       <div class="form-group" >
        <label>
         User Name Or Email
        </label>
        <input class="form-control" placeholder="User Name" type="text" ng-model="login.username">
       </div>
       <div class="form-group ">
        <label>
         Password
        </label>
        <input class="form-control" placeholder="Password" type="text" ng-model="login.password">
       </div>
       <div class="form-group">
        <div>
         <button class="btn btn-primary" style="width:150px; margin-top:10px" ng-click="loginTest()">
          Login
         </button>
        </div>
       </div>
     </div>
    </div>
   </div>

        <button class="btn btn-primary" style="width:150px; margin-top:10px" ng-click="verifyScope()" >
          verify scope
         </button>

        <button class="btn btn-primary" style="width:150px; margin-top:10px" ng-click="loginTest()" >
          test login func
         </button>
  </div>
</body>
