<body style="background-color:  #c4e2fa" >
    <header class="loginRegisterHeader"> 
      <img class="loginRegisterLogo" src="images/votewiselogo.png">
    </header>
   
    <div class="bootstrap-iso">
    <div class="container-fluid">
    <div class="row">
     <div class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10" style="text-align:center; background-color:white; padding: 20px; border-radius: 6px;">
      <form method="post" action="./profileInformation.html">
       <div class="form-group" >
        <label class="control-label requiredField" for="name">
         User Name Or Email
        </label>
        <input class="form-control" id="name" name="name" placeholder="User Name" type="text"/>
       </div>
       <div class="form-group ">
        <label class="control-label requiredField" for="name1">
         Password
        </label>
        <input class="form-control" id="name1" name="name1" placeholder="Password" type="text"/>
       </div>
       <div class="form-group">
        <div>
         <button class="btn btn-primary" style="width:150px; margin-top:10px" name="submit" type="submit" >
          Login
         </button>
        </div>
       </div>
      </form>
     </div>
    </div>
   </div>
  </div>
</body>
