<nav>
	<div class="nav-link">
	<ul>
		<li><a href="#/home"><img class="portal" src="images/app/Expand-Tool.png"></a></li>
		<li><a href="#/"><img class="portal" src="images/app/Question.png"></a></li>
		<li><a href="#/"><img class="portal" src="images/app/EDUCATION.svg"></a></li>
		<li><a href="#/"><img class="portal" src="images/app/Chat.png"></a></li>
		<li><a href="#/"><img class="portal" src="images/app/Politician-Info.png"></a></li>
		<li><a href="#/"><img class="portal" src="images/app/Settings.png"></a></li>
	</ul>
	</div>
</nav>
<p> Hello </p>		
</div>
