<nav>
	<div class="nav-link">
	<ul>
		<li><a href="#/portals"><img class="portal" src="img/Expand-Tool.png"></a></li>
		<li><a href="#/"><img class="portal" src="img/Question.png"></a></li>
		<li><a href="#/"><img class="portal" src="img/EDUCATION.svg"></a></li>
		<li><a href="#/"><img class="portal" src="img/Chat.png"></a></li>
		<li><a href="#/"><img class="portal" src="img/Politician-Info.png"></a></li>
		<li><a href="#/"><img class="portal" src="img/Settings.png"></a></li>
	</ul>
	</div>
</nav>
<div class="main box">
<br>
	<div class="comparisons">
		<p>{{set.question}}</p>
	  <br>
	  <div class="comparisons-background">
	  	<a href="#/cl-background">
	  		go to background
	  	</a>
	  </div>
	</div>
<br>
</div>

<div>
 
    <div class="currentUserAnswer row brd" >
      <div class="col-xs-2">
		<p style="display:inline; position:relative; left: 30px" class="fa brd"> You: </p>
	  </div>
      <div class="col-xs-10 center" >
      	
        <p class="fa brd" style="display:inline; position:relative; font-size:1.85em" ng-if="currentUser.You.questionAnswer" ng-class="{green:currentUser.You.questionAnswer[0], red:!currentUser.You.questionAnswer[0], 'fa-check-square':currentUser.You.questionAnswer[0], 'fa-square':!currentUser.You.questionAnswer[0]}">&nbsp&nbsp&nbsp</p> 
        <p class="fa brd" style="display:inline; position:relative; font-size:1.85em" ng-if="currentUser.You.questionAnswer" ng-class="{green:currentUser.You.questionAnswer[1], red:!currentUser.You.questionAnswer[1], 'fa-check-square':currentUser.You.questionAnswer[1], 'fa-square':!currentUser.You.questionAnswer[1]}">&nbsp&nbsp&nbsp</p> 
        <p class="fa brd" style="display:inline; position:relative; font-size:1.85em" ng-if="currentUser.You.questionAnswer" ng-class="{green:currentUser.You.questionAnswer[2], red:!currentUser.You.questionAnswer[2], 'fa-check-square':currentUser.You.questionAnswer[2], 'fa-square':!currentUser.You.questionAnswer[2]}">&nbsp&nbsp&nbsp</p> 
        <p class="fa brd" style="display:inline; position:relative; font-size:1.85em" ng-if="currentUser.You.questionAnswer" ng-class="{green:currentUser.You.questionAnswer[3], red:!currentUser.You.questionAnswer[3], 'fa-check-square':currentUser.You.questionAnswer[3], 'fa-square':!currentUser.You.questionAnswer[3]}">&nbsp&nbsp&nbsp</p> 
        <p class="fa" style="display:inline; position:relative; font-size:1.85em" ng-if="currentUser.You.questionAnswer" ng-class="{green:currentUser.You.questionAnswer[4], red:!currentUser.You.questionAnswer[4], 'fa-check-square':currentUser.You.questionAnswer[4], 'fa-square':!currentUser.You.questionAnswer[4]}">&nbsp&nbsp&nbsp</p>
        <p class="fa" style="display:inline; position:relative; font-size:1.85em" ng-if="currentUser.You.questionAnswer" ng-class="{green:currentUser.You.questionAnswer[5], red:!currentUser.You.questionAnswer[5], 'fa-check-square':currentUser.You.questionAnswer[5], 'fa-square':!currentUser.You.questionAnswer[5]}"></p>
      </div> 
    </div> 
    <br><br>
    <div>
      <p style="display:inline; float:left; position:relative; left: 80px; font-size:100%">&nbsp&nbsp&nbsp&nbspAgree&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<i style="font-size:70%">Ambivalent</i>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspDisagree</p>
    </div>
  

  <!-- <div ng-repeat="(key, user) in currentUser track by $index" display="inline">
      <div class="result">
      <ul>
          <li ng-repeat="answer in profile.questionAnswer track by $index"><i class="fa" ng-class="{green:answer, red:!answer, 'fa-check-square':answer, 'fa-square':!answer}"></i></li>
          <hr style="position: relative; right: 115px; width: 320px">
      </ul>
      </div>

  </div> -->

</div>


<div class="politicianAnswers">
<!--   <div>
    <div class="result1" style="display:inline; margin:0 auto">
      <div><br><br><br>
      </div>
      <div ng-repeat="(key, profile) in profileCompare">
        <p style="font-size:100%">{{key}}:</p>
        <p style="font-size:80%">{{profile.questionImportance}},</p>
        <p style="font-size:100%; font-weight: bold"> comments </p>
        <br>
      </div>
    </div>
  </div> -->

    <div class="result">
      
    </div>
    <div ng-repeat="(key, profile) in profileCompare" class="row">

    	<div style="display:inline; text-align:right" class="col-xs-4 brd">
    		{{key}}: <br> &nbsp&nbsp
              <i style="font-size: 80%; text-align:center">{{profile.questionImportance}}</i> <br>
              {{profile.office}}
              <br>
              Comments
    	</div>

        <div class="result col-xs-8" style="display:inline">

        <ul style="display:inline;"> 

            <li ng-repeat="answer in profile.questionAnswer track by $index" style="top:10px; display:inline; font-size:1.2em"><i class="fa" ng-class="{green:answer, red:!answer, 'fa-check-square':answer, 'fa-square':!answer}"></i></li>
         	<li style="position: relative; width: 97px; right:28px"> 
              
            </li> 
            <hr style="position: relative; width: 300px;">

           
        </ul>
<!-- 
        	<table style="display:inline">
        	 <tr ng-repeat="answer in profile.questionAnswer track by $index" class="fa col-xs-7" style="display:inline" ng-class="{green:answer, red:!answer, 'fa-check-square':answer, 'fa-square':!answer}"></tr>
        	</table> -->

        </div>
        <!-- <div class="col-xs-1"> -->
        <!-- </div> -->

    </div>
</div>